* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: whitesmoke;
}

header {
    background-color: #fff;
}

button {
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
    transition: .3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.container {
    width: 95%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: #fff;
}

.createBox {
    width: 380px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);

    textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid lightgray;
    }

    button {
        width: fit-content;
    }
}

.flashCarts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
    cursor: pointer;
}

.flashCart {
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background-color: #fff;
    box-sizing: 0 2px 4px 0 rgba(0, 0, 0, .5);
    border: 1px solid lightgray;

    h2 {
        font-size: 1rem;
    }
}

@media (max-width:768px) {
    .flashCart {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;

    }
}

@media (max-width:480px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .createBox {
        width: 100%;
    }

    .flashCart {
        width: 100%;
    }
}